/*-----------------------fonts poppins-500 ---------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*---------------------- common styles or utilities------------------------ */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
}

.navigation-bar {
  background-color: #562eff;
  color: #f3f1ff;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left img {
  width: 40px;
  height: 50px;
  margin-right: 1.5rem;
}
.nav-right a {
  text-decoration: none;
  color: #f3f1ff;
  margin-right: 1.5rem;
}
.nav-right img {
  width: 51px;
  height: 51px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
}
.container {
  width: 870px;
  background-color: #ffffff;
  padding: 33px 42px 33px 33px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* ---------------------- top players style --------------------- */
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 0;
}
.top-players {
  margin-bottom: 33px;
}
.all-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

/* -------------------------top blogs styles ---------------*/

.all-blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* ----------------------- course banner styles ---------------*/
.course-banner img {
  width: 224px;
  height: 104px;
}
.course-title {
  font-size: 21px;
}
.all-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.course {
  width: 252px;
  border-radius: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05); */
}
.course-details {
  width: 224px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  width: 12.25px;
  height: 11.75px;
}
.fill-star {
  color: #ffc014;
}
.empty-star {
  color: #aeaeae;
  opacity: 0.25;
}
.ratting {
  margin-left: 10px;
}
.course-duration {
  background-color: #ffe4e8;
  border-radius: 14.6913px;
  color: #ff4a60;
  padding: 5px;
}
footer{
  background-color: #ff4a60;
  color: #f3f1ff;
  text-align: center;
}
.contact-info{
  display: flex;
  justify-content: center;
  font-size: large;
  padding: 2rem 0;
}
.contact-info a{
text-decoration: none;
color: #f3f1ff;
margin-right: 2rem;
}
.fab{
  color: #f3f1ff;
  margin-right: 0.5rem;
}
